/*Основные стили*/
body{
    padding-top: 50px;
}

.starter-template{
    padding: 40px 15px;
}

.alert{
    margin-top: 50px;
    max-width: 400px;
    min-width: 50px;
}

.block_center{
    max-width: 700px;
    padding: 15px;
    margin: 0 auto;
}

table{
    width: 100%;
}

.btn-xs{
    color: white;
}

.login{
    width: 50%;
}

/*Стили накладной*/
.invoice_1, .invoice_2{
    font-size: 12px;
}
.invoice-table td{
    border: 1px solid black !important;
    border-collapse: collapse !important;
}
.invoice-table tr:first-child{
    font-weight: bold;
    background-color: lightgray;
}
.rekvizity tr td:first-child{
    font-weight: bold;
}

@media print{
  .invoice_buttons { display: none; }
}


