<!--Шаблон, одноименный метод index которого находится в классе pages.controller.php-->

<!-- через foreach выводим ответ на запрос из БД где alias и title явл. колонками БД-->
<?php foreach($data['pages'] as $page_data){ ?>
<!--
<div style="margin-top: 20px;">
    <a href="/pages/view/<?=$page_data['alias']?>"><?=$page_data['title']?></a>
</div>
-->
<?php } ?>

<div class="block_center">
<h3>Привествую!</h3>
<div>Вы авторизировались в приложении ЦОК_Накладная,
    которое является автоматизированной системой для учета накладных 
    и выдачи продукции в Центрах обслуживания Консультантов компании "Мери Кей (Украина) ЛТД" </div>
</div>
<div class="block_center">
    Данное приложение создано Козинцом Владимиром - студентом-выпускником "PHP-Академии"
    по направлению PHP-интенсив в качестве выпускной дипломной работы.
</div>