<!--Шаблон, одноименный метод index которого находится в классе pages.controller.php-->

<!-- через foreach выводим ответ на запрос из БД где alias и title явл. колонками БД-->
<?php foreach($data['pages'] as $page_data){ ?>
<!--
<div style="margin-top: 20px;">
    <a href="/pages/view/<?=$page_data['alias']?>"><?=$page_data['title']?></a>
</div>
-->
<?php } ?>

<div class="block_center">
<h3>Приветствую Вас!</h3>
<div>Вы авторизировались в приложении ЦОК_Накладная,
    которое является автоматизированной системой для учета накладных 
    и выдачи продукции в Центрах обслуживания Консультантов компании "Мери Кей (Украина) ЛТД" </div>
</div>
<div class="block_center">
    Данное приложение создано Козинцом Владимиром - студентом-выпускником "PHP-Академии"
    по направлению PHP-интенсив в качестве выпускной дипломной работы.
</div>

<div class="block_center" style="width: 400px;">
    <div class="block_center well well-lg">
        <p>У кождого в руках тяжкий залізний молот,<br> 
        І голос сильний нам згори, як грім, гримить:<br> 
        "Лупайте сю скалу! Нехай ні жар, ні холод<br> 
        Не спинить вас! Зносіть і труд, і спрагу, й голод<br> 
        Бо вам призначено скалу сесю розбить."</p> 
        <b>(І.Франко)</b>
    </div>
</div>