<div class="login block_center">
    <h3>Авторизация</h3><br/>
<form method="post" action="">
    <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" id="login" name="login" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" class="form-control"/>
    </div>
    <input type="submit" class="btn btn-block btn-default" value="Войти"/>
</form>
</div>