<div class="block_center">
    <h3>Добавление нового пользователя</h3>
    <form method="post" action="">
        <input type="text" class="form-control" name="newlogin" required placeholder="Логин (English)" /><br/>
        <input type="text" class="form-control" name="newfullname" required placeholder="Фамилия инициалы" /><br/>
        <input type="text" class="form-control" name="newemail" required placeholder="Електронная почта" /><br/>
        <input type="text" class="form-control" name="newrole" required placeholder="Должность (Українською)" /><br/>
        <input type="password" class="form-control" name="newpassword" required placeholder="Пароль (English)" /><br/>
        <button class="btn btn-lg btn-block btn-default" type="submit">Создать</button>
    </form>
</div>